.about {
  display: flex;
  justify-content: center;
  align-items: stretch;
  
  @include sp_style {
    flex-direction: column;
  }
  &__main {
    margin-left: 45px;

    @include tb_style {
      width: 80%;
      margin: 0 auto;
    }

    @include sp_style {
      width: 80%;
      margin: 0 auto;
    }
    &__head {
      font-size: 2.0rem;
      font-family: 'YuGothic', sans-serif;
      font-weight: 700;
      color: $color-black;
      margin-bottom: 20px;

      @include tb_style {
        font-size: 2rem;
        text-align: center;
        margin: 20px 0;
      }

      @include sp_style {
        font-size: 1.8rem;
        text-align: center;
        margin: 20px 0;
      }
    }
    &__desc {
      font-size: 1.5rem;
      font-family: 'YuGothic', sans-serif;
      font-weight: 400;
      color: $color-black;
      line-height: 1.5;
      margin-bottom: 30px;

      @include tb_style {
        font-size: 1.5rem;
        margin-bottom: 30px;
      }

      @include sp_style {
        font-size: 1.2rem;
        margin-bottom: 20px;
      }
    }
    &__career {
      font-size: 1.5rem;
      font-family: 'YuGothic', sans-serif;
      font-weight: 700;
      color: $color-black;

      @include sp_style {
        font-size: 1.2rem;
      }
    }
  }
  &__sub {
    @include sp_style {
      margin: 0 auto;
    }
    img {
      width: 180px;
    }
  }
}
