.detailItem {
  text-align: center;
  &__thumb {
    width: 100%;
    margin: 80px auto 40px;

    @include sp_style {
      margin: 40px auto 20px;
    }
  }
  &__desc {
    color: $color-black;
    font-family: 'YuGothic', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;

    @include tb_style {
      margin: 0 10% 0;
    }

    @include sp_style {
      margin: 0 10% 0;
      font-size: 1.2rem;
    }
  }
}
