.keyvisual {
  width: 100%;
  height: 600px;
  background-color: #59B9C6;

  @include sp_style {
    height: 500px;
  }
  &__name {
    padding-top: 200px;
    font-family: 'YuGothic', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;

    @include sp_style {
      font-size: 2.5rem;
    }
  }
  &__role {
    font-size: 2rem;
    text-align: center;
    font-family: 'YuGothic', sans-serif;
    font-weight: 500;

    @include sp_style {
      font-size: 1.8rem;
    }
  }
}
