.intro {
  margin: 0 auto;
  &__sub {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 40px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;

      @include sp_style {
        img {
          width: 100%;
        }
      }
    }
  }
  &__main {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 22% 0;

    @include sp_style {
      margin: 0 22% 0;
    }
    a {
      font-family: 'Noto Sans CJK JP', sans-serif;
      font-weight: 700;
      font-size: 1.5rem;
      color: $color-black;
      margin-top: 20px;

      @include sp_style {
        font-size: 1.2rem;
      }
    }
    &__title {
      font-family: 'Noto Sans CJK JP', sans-serif;
      font-weight: 700;
      font-size: 2.5rem;
      color: $color-black;
    }
    &__role {
      font-family: 'Noto Sans CJK JP', sans-serif;
      font-weight: 700;
      font-size: 1.2rem;
      color: $color-gray;
      padding: 10px 0 0;
    }
    &__year {
      font-family: 'Noto Sans CJK JP', sans-serif;
      font-weight: 700;
      font-size: 1.2rem;
      color: $color-gray;
    }
    &__desc {
      font-family: 'Noto Sans CJK JP', sans-serif;
      font-weight: 500;
      font-size: 1.5rem;
      color: $color-black;
      padding: 20px 0 0;

      @include sp_style {
        font-size: 1.2rem;
        margin: 0 auto;
      }
    }
  }
  &__detail {
    text-align: center;
    &__thumb {
      margin: 40px auto 20px;

      img {
        width: 80%;
        }

      @include pc_style {
        img {
          width: 60%;
        }
      }
    }
    &__desc {
      font-family: 'Noto Sans CJK JP', sans-serif;
      font-weight: 500;
      font-size: 1.5rem;
      color: $color-black;
      margin: 0 22% 0;
      text-align: left;

      @include pc_style {
        margin: 0 20% 0;
      }

      @include tb_style {
        margin: 0 10% 0;
      }

      @include sp_style {
        font-size: 1.2rem;
        margin: 0 10% 0;
      }
    }
  }
  hr {
    width: 56%;
    height: 1px;
    border: none;
    border-top: 1px $color-black solid;
    margin: 80px auto 80px;

    @include pc_style {
      width: 60%;
    }

    @include tb_style {
      width: 80%;
    }

    @include sp_style {
      width: 80%;
      margin: 60px auto 60px;
    }
  }
}

.transition {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  &__all {
    font-family: 'Noto Sans CJK JP', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: $color-black;
    text-decoration: none;
    margin: 0 -320px;

    @include pc_style {
      font-size: 1.2rem;
      margin: 0 -10px;
    }

    @include tb_style {
      font-size: 1.2rem;
      margin: 0 -10px;
    }

    @include sp_style {
      font-size: 0.8rem;
      margin: 0 -10px;
    }
  }
  &__previous {
    font-family: 'Noto Sans CJK JP', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: $color-black;
    text-decoration: none;

    @include pc_style {
      font-size: 1.2rem;
      margin: 0 200px;
    }

    @include tb_style {
      font-size: 1.2rem;
      margin: 0 -40px;
    }

    @include sp_style {
      font-size: 0.8rem;
    }
  }
  &__next {
    font-family: 'Noto Sans CJK JP', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: $color-black;
    text-decoration: none;

    @include pc_style {
      font-size: 1.2rem;
      margin: 0 200px;
    }

    @include tb_style {
      font-size: 1.2rem;
      margin: 0 -40px;
    }

    @include sp_style {
      font-size: 0.8rem;
    }
  }
}
